* {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.intro-cover {
    height: 100vh;
    width: 100vw;
    background-image: url(assets/freedom.jpg);
    background-size: cover;
    background-position: center center;
}

.intro-text {
    width: 90%;
    margin: 0 auto;
    padding-top: 4.5rem;
    text-align: center;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 400;
}

h2 {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 3rem;
}
